{% set block_base_class = 'events-block' %}

<div {{ bem(block_base_class, 'issue') }}>
  <div {{ bem('header', [], block_base_class) }}>
    {{ 'Events'|t }}
    <a class="link" href="{{ more_url }}">{{ more_label }}</a>
  </div>
  {% block block_content %}
    <div {{ bem('grid', [], block_base_class) }}>
    {% for item in items %}

      {% include "@molecules/events-card/events-card.twig" with {
        item_title: item.item_title,
        item_url: item.item_url,
        external_image_src: item.external_image_src,
        image_src: item.image_src,
        image_title: item.image_title,
        image_alt: item.image_alt,
        published_date: item['ds_field_date$value']|date("j") ~ ' ' ~ item['ds_field_date$value']|date("F")|t({}, {'context' : 'Long month name'}) ~ ' ' ~  item['ds_field_date$value']|date("Y"),
        item_summary: item.item_summary,
        card__block_class: block_base_class
      } %}
    {% endfor %}
  </div>
  {% endblock %}
</div>
