{% set card__base_class = 'portfolio-card' %}
<div {{ bem(card__base_class, [], card__block_class) }}>
  <div {{ bem('image', [], card__base_class) }}>
    {% block portfolio_image %}
      {% if image_src %}
        <a {{ bem('link', [], card__base_class) }} href="{{ item_url }}">
          {% include "@atoms/images/image/responsive-image.twig" with {
            output_image_tag: true,
            image_src: image_src,
            image_alt: image_alt,
            picture_blockname: card__base_class,
            picture_modifiers: []
          } %}
        </a>
      {% endif %}
    {% endblock %}
  </div>
  <div {{ bem('description', [], card__base_class) }}>
    {% block portfolio_description %}

      {% block portfolio_title %}
        {% if item_title %}
          {% include "@atoms/text/headings/_heading.twig" with {
            heading_base_class: 'heading',
            heading_blockname: card__base_class,
            heading_level: 4,
            heading: item_title,
            heading_url: item_url,
            heading_link_base_class: 'link',
          } %}
        {% endif %}
      {% endblock %}
      <div {{ bem('summary', [], card__base_class) }}>
        {% block portfolio_summary %}
          {% if item_summary %}
            {% include "@atoms/text/text/01-paragraph.twig" with {
              paragraph_base_class: 'summary',
              paragraph_blockname: card__base_class,
              paragraph_content: item_summary,
            } %}
          {% endif %}
        {% endblock %}
      </div>
    {% endblock %}
  </div>
</div>
