{{ attach_library('landportal/issues-overview') }}
  <div class="counter-header">
    <h1>{{ issue_name }}</h1>
  </div>

  <div class="counter-contents">

      <div class="counter-section">
        <h2>{{ news_counter }}</h2>
        <div class="line"></div>
        <h5>{{ 'News'|t }}</h5>
      </div>
    

  
      <div class="counter-section">
        <h2>{{ library_counter }}</h2>
        <div class="line"></div>
        <h5>{{ 'Library'|t }}</h5>
      </div>
    

 
      <div class="counter-section">
        <h2>{{ blogs_counter }}</h2>
        <div class="line"></div>
        <h5>{{ 'Blogs'|t }}</h5>
      </div>
    

    
      <div class="counter-section">
        <h2>{{ projects_counter }}</h2>
        <div class="line"></div>
        <h5>{{ 'Projects'|t }}</h5>
      </div>
   

    
      <div class="counter-section">
        <h2>{{ indicators_counter }}</h2>
        <div class="line"></div>
        <h5>{{ 'Statistical Data'|t }}</h5>
      </div>
   

    
      <div class="counter-section">
        <h2>{{ layers_counter }}</h2>
        <div class="line"></div>
        <h5>{{ 'Spatial Data'|t }}</h5>
      </div>
  
  </div>
